In [13]:
import pandas as pd
with open('C:\\Users\\User\\Downloads\\machine.txt', 'r') as file:
    content = file.readlines()

df = pd.DataFrame(content, columns=['Texto'])
df.to_excel('machine.xlsx', index=False)

In [16]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind, norm
import math
df = pd.read_excel("machine.xlsx")
df

                             Texto
0   New machine\t    Old machine\n
1             42.1\t        42.7\n
2           41\t            43.6\n
3             41.3\t        43.8\n
4             41.8\t        43.3\n
5             42.4\t        42.5\n
6             42.8\t        43.5\n
7             43.2\t        43.1\n
8             42.3\t        41.7\n
9               41.8\t        44\n
10            42.7\t        44.1\n

In [17]:
import pandas as pd

df = pd.read_excel('C:\\Users\\User\\Downloads\\machine.xlsx')
df

   New Machine  Old Machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [19]:
tt = ttest_ind(df["New Machine"], df["Old Machine"])
tt

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.0032111425007745158)

In [20]:
statistic=tt[0] 
pval=tt[1]

#CONCLUSION
if pval > 0.05:
    print("Both machines are equally efficient.")
else:
    if statistic < 0:
        print("The new machine outperforms the old one!")
    else:
        print("The old machine outperforms the new one...")

The new machine outperforms the old one!